[Unit]
Description=docker-compose %i service
Requires=docker.service

[Service]
User=root
Type=simple

EnvironmentFile=-/etc/sysconfig/compose.d/%i.env
Environment=COMPOSE_FILE=/opt/compose/%i/docker-compose.yml

ExecStartPre=-/usr/bin/docker-compose -f ${COMPOSE_FILE} kill
ExecStartPre=-/usr/bin/docker-compose -f ${COMPOSE_FILE} rm -v -f
ExecStartPre=-/usr/bin/docker-compose -f ${COMPOSE_FILE} down

ExecStart=/usr/bin/docker-compose -f ${COMPOSE_FILE} up --force-recreate --abort-on-container-exit

ExecStop=/usr/bin/docker-compose -f ${COMPOSE_FILE} stop
ExecStopPost=-/usr/bin/docker-compose -f ${COMPOSE_FILE} rm -v -f
ExecStopPost=-/usr/bin/docker-compose -f ${COMPOSE_FILE} down

Restart=always
RestartSec=180s

[Install]
WantedBy=multi-user.target
